{% extends 'admin/base.html' %}
{% block title %}Товары{% endblock %}
{% block page_name %}Товары{% endblock %}
{% block mini_page_name %}
    <li class="active">Товары</li>
{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-success alert-dismissible text-center" role="alert">
        {{ messages[0] }}
    </div>
    {% endif %}
    {% endwith %}

<div class="row">
    <div class="col-xs-12">
        <div class="pull-right margin-bottom">
            <a class="btn btn-primary" href="{{ url_for('admin.product_create') }}">Добавить</a>
        </div>
    </div>
</div>
<div class="box" style="overflow-x: auto">
    <div class="box-header with-border pull-right">
        <a class="btn btn-default" href="{{ url_for('admin.product') }}">Очистить</a>
    </div>
    <div class="grid-view">
        <table id="ProductTable" class="table table-striped table-bordered table-hover table_sort">
            <thead>
            <tr class="sort">
                <th class="col" style="min-width:20px">#</th>
                <th class="col" style="min-width:200px">Название</th>
                <th class="col" style="min-width: 200px">Категория</th>
                <th class="col" style="min-width:200px">Кол-во</th>
                <th class="col" style="min-width:200px">Вес</th>
                <th class="col" style="min-width: 200px">Цена</th>
                <th class="col" style="min-width: 200px">Статус</th>
                <th class="col" style="width: 100px; min-width:100px"></th>
            </tr>
            </thead>
            <tbody>
            {% for product in data.product_list %}
            <tr onclick="location.href='{{ url_for('admin.product_info', id=product.id) }}'" class="table-data">
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.count }}</td>
                <td>{{ product.net_weight }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.status }}</td>
                <td class="text-center">
                    <div class="btn-group pull-center">
                        <a class="btn btn-default btn-sm" href="" title="Пополнить склад" data-toggle="tooltip">
                            <i class="fa fa-shopping-cart"></i>
                        </a>
                        <a class="btn btn-default btn-sm" href="{{ url_for('admin.product_update', id=product.id) }}" title="Редактировать" data-toggle="tooltip">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a class="btn btn-default btn-sm" href="{{ url_for('admin.product_delete', id=product.id) }}" onclick="return confirmDelete()" title="Удалить" data-toggle="tooltip">
                            <i class="fa fa-trash"></i>
                        </a>
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}