{% extends 'app/base.html' %}

{% block title %}Страница не найдена{% endblock %}

{% block content %}
	<section class="first-section first-section__error no-bg">
		<div class="container">
			<div class="row justify-content-center align-content-center">
				<div class="col-lg-8">
					<div class="wrap">
							<h1>404</h1>
							<p>Страница не найдена</p>
							<a href="/" class="button_transparent with_arrow"><i class="nut-icon icons-left-arrow"></i> <b>Вернуться на Главную страницу</b></a>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
