{% extends 'app/base.html' %}

{% block title %}О нас{% endblock %}

{% block content %}
	<section class="first-section overlay" style="background-image: url({{ url_for('static', filename='img/about.jpg') }})">
		<div class="container">
			<div class="breadcrumbs">
				<ul>
					<li>
						<a href="/">Главная</a>
					</li>
					<li>
							О производстве
					</li>
				</ul>
			</div>
			<div class="row align-items-center justify-content-center">
				<a href="#">
					<h1>Орех Причерноморья</h1>
					<p>Единственный в Украине сад совместного<br> выращивание фундука и грецкого ореха</p>
					<span><i class="nut-icon icons-play-icon"></i></span>	
				</a>
			</div>
		</div>
	</section>

	<section class="manufacturer">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-5">
					<h2>О производителе</h2>
					<p class="manufacturer__descr">Сельскохозяйственный обслуживающий кооператив “Орех Причерноморья” выращивает смешанные сады ореха грецкого с фундуком, а также ореха грецкого с шиповником, на площади более 150 гектаров.</p>
					<p class="manufacturer__descr">Помимо этого кооператив занимается выращиванием посадочного материала, саженцов привитого и непривитого грецкого ореха, фундука и шиповника.</p>
					<p class="manufacturer__descr">Предприятие укомплектовано всей необходимой техникой и оборудованием для выращивания интенсивного сада, воспроизводства саженцев в питомнике и выращивания трюфеля.</p>
					<!-- <a href="#" class="button button_transparent">Подробнее</a> -->
				</div>
				<div class="col-md-7">
					<!-- Swiper -->
					<div class="manufacturer-container swiper-container">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="manufacturer__item manufacturer__item_video">
									<img src="{{ url_for('static', filename='img/manufacturer.jpg') }}" alt="alt">
								</div>
							</div>
							<div class="swiper-slide">
								<div class="manufacturer__item manufacturer__item_video">
									<img src="{{ url_for('static', filename='img/manufacturer.jpg') }}" alt="alt">
								</div>
							</div>
						</div>
						<!-- Add Arrows -->
						<div class="wrap">
							<div class="swiper-button-next"></div>
							<div class="swiper-button-prev"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="history gray_section">
		<div class="container">
			<div class="row no-gutters">
				<div class="col-lg-7 col-12">
					<div class="history__blockquote">
						<div class="row no-gutters">
							<div class="col-md-5">
								<img src="{{ url_for('static', filename='img/men.jpg') }}" alt="alt">
							</div>
							<div class="col-md-7">
								<div class="blockquote_block">
									<h3>Павел Тулба</h3>
									<p>Учередитель и владелец предприятия “Орех Причерноморья”</p>
									<blockquote>
										Главная наша цель – получить максимальную прибыль с одного гектара.
									</blockquote>
									<a href="#" class="button button_transparent">
										Написать нам
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-5 col-12">
					<div class="history__content">
						<h3>История предприятия</h3>
						<p>Наше предприятие основано в 2012 году для закладки смешанного сада грецкого ореха и фундука.</p>
						<p>На сегодня мы уже заложили более 100 гектаров сада и продолжаем расширять свои насаждения. Кроме выращивания грецкого ореха и фундука, мы занимаемся выращиванием саженцев, разведением и выращиванием овец, а также являемся первой в Украине компанией, приступившей к промышленному выращиванию трюфелей на корнях фундука.</p>
						<p>Земля, которой пользуется кооператив, является собственностью членов нашего кооператива.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="timer">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-12">
					<div class="wrap">
						<span class="timer__single" data-from="1" data-to="240" data-speed="3000" data-refresh-interval="50"></span>
						<sup>Га</sup>
						<div class="timer__descr"><div>Cмешанных</div> садов</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-6 col-12">
					<div class="wrap">
						<span class="timer__single" data-from="1" data-to="1" data-speed="3000" data-refresh-interval="50"></span>
						<sup>Га</sup>
						<div class="timer__descr"><div>Тепличного</div> комплекса</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-12">
					<div class="wrap">
						<span class="timer__single" data-from="1" data-to="10" data-speed="5000" ></span>
						<sup>Га</sup>
						<div class="timer__descr"><div>Первая промышленная плантация</div> шиповника в Украине</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-12">
					<div class="wrap">
						<span class="timer__single" data-from="1" data-to="80" data-speed="3000" data-refresh-interval="50"></span>
						<sup>%</sup>
						<div class="timer__descr"><div>Приживаемости</div> саженцев</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="benefit gray_section gallery_section">
		<div class="container">
			<div class="row align-items-center justify-content-center">
				<div class="col-12">
					<h2>Галерея</h2>
					<p>Кадры социальной активности компании</p>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-7 col-md-6	col-12">
					<div class="wrap">
						<div class="benefit__item " style="background-image: url({{ url_for('static', filename='img/paris.jpg') }})">

						</div>
						<div class="benefit__item item_hover overlay_green">
							<h3>SIAL Paris 2018</h3>
							<p>В этом Году при поддержке проекта International Trade<br> Centre Ukraine, и финансировании правительства Швеции,<br> мы побывали на крупнейшей продовольственной выставке<br> Европы <strong>SIAL Paris 2018</strong></p>
						</div>
					</div>
				</div>
				<div class="col-lg-5 col-md-6	col-12">
					<div class="wrap">
						<div class="benefit__item " style="background-image: url({{ url_for('static', filename='img/2.jpg') }})">

						</div>
						<div class="benefit__item item_hover overlay_green">
							<h3>SIAL Paris 2018</h3>
							<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque doloremque doloribus eum dignissimos nesciunt tempora, natus quas ullam quis sapiente cumque dolor iusto quod nihil consectetur perferendis at. Distinctio, officiis.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-12 col-md-12	col-12">
					<div class="wrap">
						<a href="#" class="benefit__item overlay benefit__item_video_text" style="background-image: url({{ url_for('static', filename='img/peoples.jpg') }})">
								<span>
									<i class="nut-icon icons-play-icon"></i>
								</span>
								<h3>Проект UBHDP</h3>
								<p>Вчера к нам приезжал американский агроном Рон , спасибо Мельнику<br> Евгению и проекту <strong>UBHDP</strong> за возможность получить консультацию<br> от мировых специалистов!</p>
						</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6	col-12">
					<div class="wrap item_small">
						<div class="benefit__item item_small" style="background-image: url({{ url_for('static', filename='img/4.jpg') }})">

						</div>
						<div class="benefit__item item_hover overlay_green">
							<h3>Lorem</h3>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum nobis ab, odit sint reiciendis sunt fugiat, sapiente ad esse in quos minima doloribus suscipit consequatur dolorem adipisci nihil? Impedit, omnis.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6	col-12">
					<div class="wrap item_small">
						<div class="benefit__item item_small" style="background-image: url({{ url_for('static', filename='img/5.jpg') }})">

						</div>
						<div class="benefit__item item_hover overlay_green">
							<h3>lorem</h3>
							<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere iusto, adipisci reprehenderit quis</p>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis ut sed dicta quidem accusantium!</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6	col-12">
					<div class="wrap item_small">
						<a href="#">
							<span class="benefit__item item_small benefit__item_video overlay" style="background-image: url({{ url_for('static', filename='img/6.jpg') }})">

							</span>
						</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="wrapper">
					<a href="#" class="button button_transparent">Смотреть всю галерею</a>
				</div>
			</div>
		</div>
	</section>

	<div class="parallax" data-scrollax-parent="true">
		<section class="eco overlay" style="background-image: url({{ url_for('static', filename='img/eco-about.jpg') }})" data-scrollax="properties: { translateY: '30%' }">
			<div class="container">
				<div class="row align-items-center justify-content-center">
					<a href="#" data-scrollax="properties: { 'translateY': '5%', 'opacity': 1 }">
						<i class="nut-icon icons-eco"></i>
						<h2>Орех Причерноморья</h2>
						<p>Единственный в Украине сад совместного<br> выращивание фундука и грецкого ореха</p>
					</a>
				</div>
			</div>
		</section>
	</div>

	<section class="news gray_section">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-6 col-12">
					<h2>Новости</h2>
					<p class="news__descr">Свежие новости и полезная информация</p>

				</div>
				<div class="col-md-6 col-12 d-flex justify-content-end">
					<div class="wrap">
						<div class="navigation"></div>
					</div>
				</div>
				<div class="col-12">
					<!-- Swiper -->
					<div class="news-container swiper-container">
						<!-- Add Arrows -->
						<div class="swiper-button-next"></div>
						<div class="swiper-button-prev"></div>
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="news__item news__item_video">
									<span class="video_wrap">
										<img src="{{ url_for('static', filename='img/pic.jpg') }}" alt="alt">
									</span>
									<div class="wraper">
										<div class="item_data">
											12.04.2019
										</div>
										<h3>Центр поддержки экспорта, в студии Павел Тулба</h3>
										<p>Как уже упоминал Павел Тулба, шиповник цветёт. Эта культура очень недооценена среди наших садоводов, не смотря на большой спрос в Европе и отличную...</p>
										<a href="#">Читать <i class="nut-icon icons-read-more"></i></a>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="news__item">
									<span class="video_wrap">
										<img src="{{ url_for('static', filename='img/pic.jpg') }}" alt="alt">
									</span>
									<div class="wraper">
										<div class="item_data">
											12.04.2019
										</div>
										<h3>Центр поддержки экспорта, в студии Павел Тулба</h3>
										<p>Как уже упоминал Павел Тулба, шиповник цветёт. Эта культура очень недооценена среди наших садоводов, не смотря на большой спрос в Европе и отличную...</p>
										<a href="#">Читать <i class="nut-icon icons-read-more"></i></a>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="news__item">
									<span class="video_wrap">
										<img src="{{ url_for('static', filename='img/pic.jpg') }}" alt="alt">
									</span>
									<div class="wraper">
										<div class="item_data">
											12.04.2019
										</div>
										<h3>Центр поддержки экспорта, в студии Павел Тулба</h3>
										<p>Как уже упоминал Павел Тулба, шиповник цветёт. Эта культура очень недооценена среди наших садоводов, не смотря на большой спрос в Европе и отличную...</p>
										<a href="#">Читать <i class="nut-icon icons-read-more"></i></a>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="news__item">
									<span class="video_wrap">
										<img src="{{ url_for('static', filename='img/pic.jpg') }}" alt="alt">
									</span>
									<div class="wraper">
										<div class="item_data">
											12.04.2019
										</div>
										<h3>Центр поддержки экспорта, в студии Павел Тулба</h3>
										<p>Как уже упоминал Павел Тулба, шиповник цветёт. Эта культура очень недооценена среди наших садоводов, не смотря на большой спрос в Европе и отличную...</p>
										<a href="#">Читать <i class="nut-icon icons-read-more"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="wrapper">
					<a href="#" class="button button_transparent">Смотреть все новости</a>
				</div>
			</div>
		</div>
	</section>
{% endblock %}

