{% extends 'app/base.html' %}

{% block title %}Корзина{% endblock %}

{% block content %}
	<section class="first-section no-bg">
		<div class="container">
			<div class="breadcrumbs">
				<ul>
					<li>
						<a href="/">Главная</a>
					</li>
					<li>
						Корзина
					</li>
				</ul>
			</div>
		</div>
	</section>

	<section class="accaunt">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<h1>Корзина</h1>
				</div>
				<div class="col-lg-9 col-md-6">
					<div class="accaunt__manager">
						<ul>
							<li><p>Ваш личный менеджер Олег</p></li>
							<li><i class="nut-icon icons-phone"></i> <a href="tel:+380677771412">+38 067 777 14 12</a></li>
						</ul>
					</div>
				</div>
				<div class="col-12">
					<table id="table">
						<thead>
							<tr>
								<th><span>Товар</span></th>
								<th><span>Кол - во</span></th>
								<th><span>Цена за товар</span></th>
								<th><span>Итоговая стоимость</span></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Орех соленый 80г.</td>
								<td>
									<div class="item_quantity"> 
										<button type="button" class="quantity_minus">
											<i class="nut-icon icons-qty-left"></i> 
										</button> 
										<input type="text" name="quantity" value="4" class="quantity_input">
										<button type="button" class="quantity_plus">
											<i class="nut-icon icons-qty-right"></i>
										</button> 
									</div>
								</td>
								<td>25 грн.</td>
								<td>100 грн.</td>
							</tr>
							<tr>
								<td>Орех соленый 80г.</td>
								<td>
									<div class="item_quantity"> 
										<button type="button" class="quantity_minus">
											<i class="nut-icon icons-qty-left"></i> 
										</button> 
										<input type="text" name="quantity" value="1" class="quantity_input">
										<button type="button" class="quantity_plus">
											<i class="nut-icon icons-qty-right"></i>
										</button> 
									</div>
								</td>
								<td>25 грн.</td>
								<td>25 грн.</td>
							</tr>
							<tr>
								<td>Орех соленый 80г.</td>
								<td>
									<div class="item_quantity"> 
										<button type="button" class="quantity_minus">
											<i class="nut-icon icons-qty-left"></i> 
										</button> 
										<input type="text" name="quantity" value="1" class="quantity_input">
										<button type="button" class="quantity_plus">
											<i class="nut-icon icons-qty-right"></i>
										</button> 
									</div>
								</td>
								<td>25 грн.</td>
								<td>25 грн.</td>
							</tr>
							<tr>
								<td>Орех соленый 80г.</td>
								<td>
									<div class="item_quantity"> 
										<button type="button" class="quantity_minus">
											<i class="nut-icon icons-qty-left"></i> 
										</button> 
										<input type="text" name="quantity" value="1" class="quantity_input">
										<button type="button" class="quantity_plus">
											<i class="nut-icon icons-qty-right"></i>
										</button> 
									</div>
								</td>
								<td>25 грн.</td>
								<td>25 грн.</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-12">
					<div class="after_table">
						<div class="row">
							<div class="col-md-6">
								<a href="/" class="button_transparent with_arrow"><i class="nut-icon icons-left-arrow"></i> <b>Продолжить покупки</b></a>
							</div>
							<div class="col-md-6">
								<div class="popup__cart_sum">
									<div class="sum_item">
										<div class="sum_item_title">
											<p>Всего </p>
										</div>
										<div class="sum_item_new">
											<p>175 <i>грн.</i></p>
										</div>
									</div>
									<div class="sum_item">
										<div class="sum_item_button">
											<a href="#" class="button">Оформить заказ</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12">
					<div class="no_log-in">
						<h2>Для оформления заказа необходимо</h2>
						<div class="no_log-in_link">
							<a href="#">Авторизоваться</a>
							<span>или</span>
							<a href="#">Зарегистрироваться</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}