{% extends 'app/base.html' %}

{% block title %}Оформление заказа - юр{% endblock %}

{% block content %}

	<section class="first-section no-bg">
		<div class="container">
			<div class="breadcrumbs">
				<ul>
					<li>
						<a href="/">Главная</a>
					</li>
					<li>
						<a href="#">Корзина</a>
					</li>
					<li>
						Оформление заказа
					</li>
				</ul>
			</div>
		</div>
	</section>

	<section class="accaunt">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<h1>Оформление заказа</h1>
				</div>
				<div class="col-lg-8 col-md-6">
					<div class="accaunt__manager">
						<ul>
							<li><p>Ваш личный менеджер Олег</p></li>
							<li><i class="nut-icon icons-phone"></i> <a href="tel:+380677771412">+38 067 777 14 12</a></li>
						</ul>
					</div>
				</div>
				<div class="col-12">
					<table id="table">
						<thead>
							<tr>
								<th><span>Товар</span></th>
								<th><span>Кол - во</span></th>
								<th><span>Цена за товар</span></th>
								<th><span>Итоговая стоимость</span></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Орех соленый 80г.</td>
								<td>
									<div class="item_quantity"> 
										<button type="button" class="quantity_minus">
											<i class="nut-icon icons-qty-left"></i> 
										</button> 
										<input type="text" name="quantity" value="4" class="quantity_input">
										<button type="button" class="quantity_plus">
											<i class="nut-icon icons-qty-right"></i>
										</button> 
									</div>
								</td>
								<td>25 грн.</td>
								<td>100 грн.</td>
							</tr>
							<tr>
								<td>Орех соленый 80г.</td>
								<td>
									<div class="item_quantity"> 
										<button type="button" class="quantity_minus">
											<i class="nut-icon icons-qty-left"></i> 
										</button> 
										<input type="text" name="quantity" value="1" class="quantity_input">
										<button type="button" class="quantity_plus">
											<i class="nut-icon icons-qty-right"></i>
										</button> 
									</div>
								</td>
								<td>25 грн.</td>
								<td>25 грн.</td>
							</tr>
							<tr>
								<td>Орех соленый 80г.</td>
								<td>
									<div class="item_quantity"> 
										<button type="button" class="quantity_minus">
											<i class="nut-icon icons-qty-left"></i> 
										</button> 
										<input type="text" name="quantity" value="1" class="quantity_input">
										<button type="button" class="quantity_plus">
											<i class="nut-icon icons-qty-right"></i>
										</button> 
									</div>
								</td>
								<td>25 грн.</td>
								<td>25 грн.</td>
							</tr>
							<tr>
								<td>Орех соленый 80г.</td>
								<td>
									<div class="item_quantity"> 
										<button type="button" class="quantity_minus">
											<i class="nut-icon icons-qty-left"></i> 
										</button> 
										<input type="text" name="quantity" value="1" class="quantity_input">
										<button type="button" class="quantity_plus">
											<i class="nut-icon icons-qty-right"></i>
										</button> 
									</div>
								</td>
								<td>25 грн.</td>
								<td>25 грн.</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-12">
					<div class="after_table">
						<div class="row">
							<div class="col-md-6">
								
							</div>
							<div class="col-md-6">
								<div class="popup__cart_sum">
									<div class="sum_item">
										<div class="sum_item_title">
											<p>Всего </p>
										</div>
										<div class="sum_item_new">
											<p>175 <i>грн.</i></p>
										</div>
									</div>
									<div class="sum_item">
										<!-- <div class="sum_item_button">
											<a href="#" class="button">Оформить заказ</a>
										</div> -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12">
					<div class="checkout_form">
						<form action="#">
							<div class="row">
								<div class="col-lg-5">
									<div class="form__title">
											1. Контактные данные
									</div>
									<input type="text"  placeholder="Компания">
									<input type="text"  placeholder="Контактное лицо">
									<input type="email"  placeholder="Email*">
									<input type="tel"  placeholder="Телефон*">
									<div class="form__title">
											2. Способ доставки
									</div>
										<fieldset id="group1" class="radio__wrapper radio__wrapper_click">
											<input id="radio-1" class="radio-custom" name="group1" value="new_post" type="radio" checked>
											<label for="radio-1" class="radio-custom-label"><span>Новая почта (по Украине оплата за счет Клиента)</span></label>
											<div class="new_post box">
												<select>
													<option value="hide">Страна</option>
													<option value="lorem">lorem</option>
													<option value="lorem">lorem</option>
													<option value="lorem">lorem</option>
													<option value="lorem">lorem</option>
													<option value="lorem">lorem</option>
													<option value="lorem">lorem</option>
												</select>
												<select>
													<option value="hide">Область</option>
													<option value="lorem">lorem</option>
													<option value="lorem">lorem</option>
													<option value="lorem">lorem</option>
													<option value="lorem">lorem</option>
													<option value="lorem">lorem</option>
													<option value="lorem">lorem</option>
												</select>
											</div>
											<input id="radio-2" class="radio-custom" name="group1" value="adr" type="radio">
											<label for="radio-2" class="radio-custom-label"><span>Курьер по Одессе</span><span class="sticker"><i class="nut-icon icons-novinka"></i><span class="p">БЕСПЛАТНО</span></span></label>
											<div class="adr box">
													<input type="text"  placeholder="Адрес*">
											</div>
											<input id="radio-3" class="radio-custom" name="group1" value="" type="radio">
											<label for="radio-3" class="radio-custom-label radio-custom_last"><span>Самовывоз со склада</span></label>
										</fieldset>
									<div class="form__title">
											3. Способ оплаты
									</div>
										<fieldset id="group2" class="radio__wrapper radio__wrapper_second">
											<input id="radio-4" class="radio-custom" name="group2" value="" type="radio" checked>
											<label for="radio-4" class="radio-custom-label"><span>Безналичный расчет</span></label>
											<input id="radio-5" class="radio-custom" name="group2" value="" type="radio">
											<label for="radio-5" class="radio-custom-label"><span>LiqPay / Приват24</span></label>
											<input id="radio-6" class="radio-custom" name="group2" value="" type="radio">
											<label for="radio-6" class="radio-custom-label"><span>Наличными при получении (Наложенным платежом)</span></label>
										</fieldset>
										<button class="button float-left" type="submit">Продолжить</button>
								</div>
								<div class="col-lg-7">
									
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}

