{% extends 'app/base.html' %}

{% block title %}История заказов{% endblock %}

{% block content %}

	<section class="first-section no-bg">
		<div class="container">
			<div class="breadcrumbs">
				<ul>
					<li>
						<a href="/">Главная</a>
					</li>
					<li>
						<a href="#">Личный кабинет</a>
					</li>
					<li>
							История заказов
					</li>
				</ul>
			</div>
		</div>
	</section>

	<section class="accaunt">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<h1>Учетная запись</h1>
				</div>
				<div class="col-lg-9 col-md-6">
					<div class="accaunt__manager">
						<ul>
							<li><p>Ваш личный менеджер Олег</p></li>
							<li><i class="nut-icon icons-phone"></i> <a href="tel:+380677771412">+38 067 777 14 12</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3">
					<nav class="navigation">
						<p>Мои заказы</p>
						<ul>
							<li><a href="#" class="active">История заказов</a></li>
							<li><a href="#">История транзакций</a></li>
						</ul>
						<p>Моя учетная запись</p>
						<ul>
							<li><a href="#">Контактная информация</a></li>
							<li><a href="#">Пароль</a></li>
							<li><a href="#">Адрес</a></li>
						</ul>
					</nav>
				</div>
				<div class="col-lg-9">
					<div class="row">
						<div class="col-12">
							  <table id="table">
										<thead>
											<tr>
												<th><span>№ Заказа</span></th>
												<th><span>Дата</span></th>
												<th><span>Кол - во товаров</span></th>
												<th><span>Статус</span></th>
												<th><span>Стоимость</span></th>
												<th><span>Функции</span></th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>23</td>
												<td>3.05.2019</td>
												<td>13</td>
												<td>Отправлено</td>
												<td>2500 грн.</td>
												<td>
													<div class="icons_wrap">
															<a href="#" class="tooltip" title="Просмотреть заказ"><i class="nut-icon icons-view"></i></a>
															<a href="#" class="tooltip" title="Копировать"><i class="nut-icon icons-copy"></i></a>
													</div>
												</td>
											</tr>
											<tr>
												<td>24</td>
												<td>10.05.2019</td>
												<td>15</td>
												<td>В ожидании</td>
												<td>2400 грн.</td>
												<td>
														<div class="icons_wrap">
																<a href="#" class="tooltip" title="Просмотреть заказ"><i class="nut-icon icons-view"></i></a>
																<a href="#" class="tooltip" title="Копировать"><i class="nut-icon icons-copy"></i></a>
														</div>
												</td>
											</tr>
										</tbody>
									</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
