{% extends 'app/base.html' %}

{% block title %}Password{% endblock %}

{% block content %}
	<section class="first-section no-bg">
		<div class="container">
			<div class="breadcrumbs">
				<ul>
					<li>
						<a href="/">Главная</a>
					</li>
					<li>
							Восстановление пароля
					</li>
				</ul>
			</div>
		</div>
	</section>

	<section class="password">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-4 col-md-6">
					<h1 class="text-center">Восстановление пароля</h1>
					<div class="password__link">
						<div class="wrap">
								<i class="nut-icon icons-locked"></i>
								<a href="#"><span>Забыли пароль?</span></a>
						</div>
						<p>Введите Email Вашего аккаунта, Вам будет выслана ссылка для восстановления пароля.</p>
					</div>
					<form action="#">
							<input type="email" required="required"  placeholder="Email*">
							<button class="button" type="submit">Отправить ссылку</button>
					</form>
					<div class="password__link">
						<div class="wrap">
								<i class="nut-icon icons-locked"></i>
								<a href="#"><span>Восстановление пароля</span></a>
						</div>
						<p>Введите новый пароль для Email <a href="#">example@gmail.com</a></p>
					</div>
					<form action="#">
							<input type="password" required="required"  placeholder="Новый пароль*">
							<input type="password" required="required"  placeholder="Подтвердить новый пароль*">
							<button class="button" type="submit">Сменить пароль</button>
					</form>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
