{% extends 'app/base.html' %}

{% block title %}Товар{% endblock %}

{% block content %}

	<section class="first-section no-bg">
			<div class="container">
				<div class="breadcrumbs">
					<ul>
						<li>
							<a href="/">Главная</a>
						</li>
						<li>
								Карточка товара
						</li>
					</ul>
				</div>
			</div>
		</section>

	<section class="product">
			<div class="container">
				<div class="row no-gutters">
					<div class="col-lg-5 col-md-6">
							<div class="wrap">
									<div class="product__item">
										<div class="sticker">
											<i class="nut-icon icons-actciya"></i>
											<p>Акция</p>
										</div>
										<!-- Slider main container -->
										<div class="products-container swiper-container">
											<!-- Additional required wrapper -->
											<div class="swiper-wrapper">
												<!-- Slides -->
												<div class="swiper-slide">
													<a href="#"><img src="{{ url_for('static', filename='img/pic10.png')}}" alt="alt"/></a>
												</div>
												<div class="swiper-slide">
													<a href="#"><img src="{{ url_for('static', filename='img/pic10.png')}}" alt="alt"/></a>
												</div>
												<div class="swiper-slide">
													<a href="#"><img src="{{ url_for('static', filename='img/pic10.png')}}" alt="alt"/></a>
												</div>
											</div>
			
											<!-- If we need navigation buttons -->
											<div class="swiper-button-prev"></div>
											<div class="swiper-button-next"></div>
											<img class="zoom" src="{{ url_for('static', filename='img/zoom.svg')}}" alt="alt">
										</div>
									</div>
								</div>
					</div>
					<div class="col-lg-7 col-md-6">
						<div class="product__content">
							<div class="row">
								<div class="col-md-6">
									<div class="product__content_name">
											Грецкий орех
									</div>
								</div>
								<div class="col-md-6">
									<div class="product__content_art">
											Арт:<span> 0091</span>
									</div>
								</div>
								<div class="col-lg-9">
									<h1>Орех соленый кондитерский очищенный</h1>
								</div>
								<div class="col-lg-3"></div>
								<div class="col-12">
									<div class="product__content_descr">
										<ul>
											<li>
												<div class="row">
														<div class="col-md-5">
															<strong>Состав:</strong>
														</div>
														<div class="col-md-7">
															<span>Ядро грецкого ореха, вымытого очищенного от кожуры, соль экстра (раствор 7%)</span>
														</div>
													</div>
											</li>
											<li>
												<div class="row">
													<div class="col-md-5">
														<strong>Масса нетто:</strong>
													</div>
													<div class="col-md-7">
														<span>40г.</span>
													</div>
												</div>
											</li>
											<li>
													<div class="row">
														<div class="col-md-5">
															<strong>Энергетическая ценность:</strong>
														</div>
														<div class="col-md-7">
															<span>654 Ккал.</span>
														</div>
													</div>
												</li>
												<li>
														<div class="row">
															<div class="col-md-5">
																<strong>Срок годности:</strong>
															</div>
															<div class="col-md-7">
																<span>12 месяцев, с даты расфасовки (указана на упаковке)</span>
															</div>
														</div>
													</li>
										</ul>
									</div>
								</div>
								<div class="col-12">
									<div class="warning">
											<i class="nut-icon icons-warning-sigh"></i>
											<p>Хранить в помещениях, защищенных от попадания прямых, солнечных лучей, при температуре от +3 °C до +20 °C, и относительной влажности воздуха не более 75 %</p>
									</div>
								</div>
								<div class="col-12">
										<div class="product__content_sum">
												<div class="sum_item">
													<div class="sum_item_title">
														<p>Ваша цена: </p>
													</div>
													<div class="sum_item_new">
														<p>19 <i>грн.</i></p>
													</div>
													<div class="sum_item_old">
														<p>21 <i>грн.</i></p>
													</div>
												</div>
												<div class="sum_item">
													<div class="sum_item_button">
														<a href="#" class="button">Заказать</a>
													</div>
												</div>
											</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

	<section class="payment payment__product">
				<div class="tabs">
					<div class="tabs__wrap">
						<div class="container">
								<div class="row">
									<ul class="tabs__caption">
										<li class="active"><span>Описание</span></li>
										<li><span>Упаковка</span></li>
										<li><span>Оплата</span></li>
										<li><span>Доставка</span></li>
									</ul>
								</div>
							</div>
					</div>
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="tabs__content active">
								<div class="row">
									<div class="col-lg-4 col-md-6 col-12">
										<img src="{{ url_for('static', filename='img/Untitled-22.jpg')}}" class="tabs__content_img" alt="alt">
									</div>
									<div class="col-lg-8 col-md-6 col-12 align-self-center">
										<div class="tabs__content_product">
											<p>Уже 4000 лет люди питаются ценными грецкими орехами. Они особенно полезны послеоперационным больным, детям, кормящим, беременным женщинам. Чтобы вернуть силы, укрепить иммунитет, одолеть туберкулез, кашель; грецкий орех очищенный, отборный нужно истолочь, смешать с медом (2:1) и чайную ложку целебной смеси употреблять перед едой.</p>
											<p> В белке грецких орехов много (15 %) аргинина. Он особенно нужен детям, больным, пожилым людям, в организме которых аминокислота плохо синтезируется. Аргинин помогает сосудам регенерировать, а всему организму – победить воспаления.</p>
											<strong>Другие полезные вещества грецких орехов:</strong>
											<ul>
												<li>Антиоксиданты защищают печень от повреждений</li>
												<li>Полифенолы не дают образоваться сосудистым тромбам</li>
												<li>Нейропротекторы улучшают работу мозга, отодвигают старость</li>
											</ul>
											<strong>Нужно систематически есть грецкие орехи, чтобы:</strong>
											<ul>
												<li>На 30–40 % снизить риск заболевания раком простаты</li>
												<li>На 50 % – раком молочной железы</li>
												<li>Предотвратить дегенерацию глазной макулы, а значит, улучшить зрение</li>
												<li>Отрегулировать обмен веществ, выработку инсулина; понизить количество сахара в крови</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="tabs__content">
								Содержимое второго блока
							</div>
							<div class="tabs__content">
								Содержимое 3-го блока
							</div>
							<div class="tabs__content">
								Содержимое 4-го блока
							</div>
							</div>
						</div>
					</div>
				</div>
			</section>

{% endblock %}
